.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background-image: url('https://1.bp.blogspot.com/-1rGY7U_HKuM/TgltFHC-tgI/AAAAAAAADG4/75iXHaKLX6Q/s1600/abstract+background+%25285%2529.jpg');
  background-size: cover;
  background-position: center;
  }
  
  h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: darkblue;
  }
  
  p {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 200px;
    height: auto;
  }
  