<div class="container">
  <h1>Hello, Again!</h1>

  <div class="photos">
    <mat-card class="photo-card">
      <mat-card-header>
        <mat-card-title>Random</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://images6.fanpop.com/image/photos/42800000/random-random-42843735-564-634.jpg" alt="Image 1">
    </mat-card>

    <mat-card class="photo-card">
      <mat-card-header>
        <mat-card-title>Random</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://www.funnymonkeysite.com/pictures/Stuffing_My_Little_Face.jpg" alt="Image 2">
    </mat-card>
  </div>

  <p>Hope you like the project!</p>
</div>
